body {
    background-color: #659DBD;
}


#chartList{
    background-color:  #F8F8F8;
}

#rank{
    font-size: 23px;
}

.fa-star{
    color: rgb(226, 123, 6);
    padding-left: 30px;
}

#lister {
    display: flex;
    flex-direction: column;
}